body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.cve-dsierta {
    background: repeating-linear-gradient( 40deg, rgba(0, 0, 0, 0) 2px, rgba(0, 0, 0, 0) 7px, #ef9a9a 3px, #ef9a9a 8px );
}

.timin {
    color: #757575;
    font-size: 11px;
}


