@model PedidosUnidad.Models.AddInsumoForm
@{
    ViewBag.Title = "Consultar";
}

<style>

    .exis_ {
        width: auto;
        height: 15px;
        margin: 0px 2px 0px 2px;
        text-align: center;
        border-radius: 2px;
        font-size: 10px;
        float: right;
        padding-left: 2px;
        padding-right: 2px;
        font-weight: 600;
    }

    .ex_positiva {
        border: 1px solid #2E7D32;
        background: #C8E6C9;
        color: #2E7D32;
    }

    .ex_negativa {
        border: 1px solid #D50000;
        background: #FFCDD2;
        color: #D50000;
    }
</style>

<div id="loader_movil_">
    <div class="ctn-loading">
        <span class="spanin-l"> Procesando</span>
        <span class="spanin-li l-1"></span>
        <span class="spanin-li l-2"></span>
        <span class="spanin-li l-3"></span>
        <span class="spanin-li l-4"></span>
        <span class="spanin-li l-5"></span>
        <span class="spanin-li l-6"></span>
    </div>
</div>

<div class="container-fluid ">
    <div class="row">
        <div class="rfix">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding:0;">
                <div class="input-group" style="background:#eee; height:35px; width:100%; margin-top: -5px; padding-top:4px; text-align:center;">
                    BUSCAR POR LOTE
                </div>
                @using (Html.BeginForm("Consulta", "Programas", FormMethod.Post, new { id = "frm_datos_", name = "frm_datos_" }))
                {
                    <div class="input-group">
                        <input id="buscar_item" name="buscar_item" type="text" class="form-control" placeholder="NUMERO LOTE" style="height:35px;">
                        <span class="input-group-btn">
                            <button onclick="buscarInformacion();" style="z-index:2; height:35px; " class="btn btn-primary md-search-white" type="button">&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </span>
                        @*<span class="input-group-btn">
                            <button title="Reporte Existencias" onclick="reporteExistencias();" style="z-index:2; height:35px; " class="btn btn-primary md-grid-on-white" type="button">&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </span>*@
                    </div>
                }
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
        <div id="ctn_items" class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-left: 1px; margin-top:10px;">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    </div>
</div>

<div id="modal_lotes_det"></div>



@section scripts {
    <script>$(window).on('load', function () {
            setTimeout(function () {
                //close_loading();
                $("#loader_movil_").css({ visibility: "hidden", opacity: "0" })
            }, 1200);
        });

        function buscarInformacion() {
            //Enviar form por ajax
            var form = $("#frm_datos_");
            $.ajax({
                async: true,
                cache: false,
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                dataType: 'HTML',
                beforeSend: function () {
                    //Mostrar Procesando
                    show_loading();
                },
                success: function (data) {
                    $("#ctn_items").html(data);
                    //Success cerrar procesando
                        close_loading();

                },
                error: function (jqXHR, exception) {
                    show_error('Ha ocurrido un error en el envio');
                },
                complete: function () {
                }
            });


        }


    </script>
}



