@model PedidosUnidad.Models.PedidoModel
@{
    ViewBag.Title = "ExistePedido";
}

<link href="~/Content/css/homeIn.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row cm-fix-height">
        <div class="col-sm-6 col-lg-offset-3">
            <div class="panel panel-default" style="margin-top:12%;">
                @*<div class="panel-heading">Headings</div>*@
                <div class="panel-body" style="background-image:url('/Content/img/EnviadoPedido.jpg'); background-size:contain; background-repeat:no-repeat; height:350px;padding:0px; text-align:center;">
                    <div style="width: 100%; height: 350px; background: rgba(0,0,0,0.7); position: relative; padding:10px;">
                        <h3 class="outline">Información</h3>
                        <div class="outline" style="font-size: 26px;">Ya existe un pedido enviado</div>
                        <div class="outline" style="font-size: 26px;">@Model.folio</div>

                        <div style="width:95%; height:55px; position:absolute; left:5px; bottom:5px; text-align:left">
                            <span style="font-size:13px; color:#fff;">Ya se realizó un pedido el día @Model.fecha </span>
                            <p style="font-size:13px; color:#fff; text-align:justify; line-height:12px; margin-top:4px;">Si desea realizar un pedido extraordinario deberá hacer una solicitud a las autoridades correspondientes y llevar un proceso manual del mismo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@*<div class="container-fluid cm-container-white" style="min-height:600px; padding-top:70px;">
        <h2>Ya existe un pedido para el mes en curso</h2>
    </div>*@

