@using PedidosUnidad.Security
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .chat-box .message-box {
        padding: 18px 0 10px;
        clear: both;
    }

    .message-box .picture {
        float: left;
        width: 50px;
        display: block;
        padding-right: 10px;
    }

    .picture img {
        width: 50px;
        height: 50px;
        border: 2px solid #0094ff;
        border-radius: 50%;
    }

    .picture span {
        font-weight: bold;
        font-size: 12px;
        clear: both;
        display: block;
        text-align: center;
        margin-top: 3px;
    }

    .message {
        background: #4CAF50;
        display: inline-block;
        padding: 13px;
        width: 274px;
        border-radius: 2px;
        box-shadow: 0 1px 1px rgba(0,0,0,.04);
        position: relative;
    }

        .message:before {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            border-right: 6px solid #4CAF50;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            top: 10px;
            margin-left: -6px;
        }

        .message span {
            color: #fff;
            font-weight: bold;
        }

        .message p {
            color: #fff;
            padding-top: 5px;
        }

    .message-box.right-img .picture {
        float: right;
        padding: 0;
        padding-left: 10px;
    }

        .message-box.right-img .picture img {
            float: right;
        }

    .message-box.right-img .message:before {
        left: 100%;
        margin-right: 6px;
        margin-left: 0;
        border-right: 6px solid transparent;
        border-left: 6px solid #4CAF50;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }
</style>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Cambiar Password cuenta @SessionPersister.CurrentUser.name_user</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <!--.modal-content -->
        <div class="modal-body">
            @using (Html.BeginForm("ChangePassword", "Usuarios", FormMethod.Post, new { id = "frm_datos_pass", name = "frm_datos_pass" }))
            {
                @Html.AntiForgeryToken()

                <div class="box box-widget">
                    <div class="box-header with-border" style="margin-bottom:2px; padding-top:1px; padding-bottom:1px;">
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="min-height:300px;">
                        <div class="form-group">
                            <div class="col-xs-10 col-md-offset-1">
                                <label for="passusers">Password actual:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" placeholder="Password actual" id="Passusers" name="Passusers" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-offset-1">
                                <label for="passusers">New Password:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" placeholder="Password (min 6 caracteres)" id="newPassusers" name="newPassusers" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-offset-1">
                                <label for="confirmPass">Confirm new Password:</label>
                                <div id="grp_confirm" class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" placeholder="Confirm Password" id="confirmNewPass" name="confirmNewPass" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="ctn_msg_sp" class="col-xs-10 col-md-offset-1" style="display:none; margin-top: 30px;">
                                <div class="message-box right-img">
                                    <div class="picture">
                                        <img src="~/Content/img/UserH.jpg" title="user name"/>
                                        <span class="time">...</span>
                                    </div>
                                    <div class="message" style="float: right; margin-right: 10px;">
                                        <span>@SessionPersister.CurrentUser.name_user</span>
                                        <p id="lbl_msg_sp">...</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-right">
                        <button type="button" class="btn btn-success" onclick="save_action();"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar cambio</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Salir</button>
                        <input type="submit" id="btnSubmitOculto" hidden />
                    </div>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<script type="text/javascript">

    var password = document.getElementById("newPassusers");
    var confirm_password = document.getElementById("confirmNewPass");
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

    function validatePassword() {
        validaPass();

        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Whoops, Passwords no coinciden");
        } else {
            confirm_password.setCustomValidity('');
        }

        if (password.value.trim().length < 6) {
            password.setCustomValidity("Password deben ser minimo 6 caracteres");
        } else {
            password.setCustomValidity('');
        }

    }

    function validaPass() {

        if ($('#newPassusers').val() != $('#confirmNewPass').val()) {
            $('#grp_confirm').removeClass('has-error');
            $('#grp_confirm').removeClass('has-success');
            $('#grp_confirm').addClass('has-error');
        } else {
            $('#grp_confirm').removeClass('has-error');
            $('#grp_confirm').removeClass('has-success');
            $('#grp_confirm').addClass('has-success');
        }
    }

    //Action guardar datos
    function save_action() {
        //Valida reglas de formulario
        $("#ctn_msg_sp").css('display', 'none');
        if ($("#frm_datos_pass")[0].checkValidity()) {
            //Mostrar procesando
            show_loading();
            //Serializar datos de formulario para un POST Ajax
            var formData = $("#frm_datos_pass").serializeArray();
            //Url de metodo POST
            var URL = $("#frm_datos_pass").attr("action");
            //Peticion Ajax
            $.ajax({
                type: "POST",
                url: URL,
                data: formData,
                dataType: "json",
                success: function (data) {
                    //Success cerrar procesando
                    close_loading();
                    //En caso de exito
                    if (data.exito) {
                        //Mostrar mensaje de exito
                        $("#ctn_msg_sp").removeClass('direct-chat-danger');
                        $("#ctn_msg_sp").removeClass('direct-chat-success');
                        $("#ctn_msg_sp").addClass('direct-chat-success');
                        $("#lbl_msg_sp").html(data.msg);
                        $("#ctn_msg_sp").css('display', 'block');
                    }
                    else {
                        //En caso de error mostrar mensaje
                        $("#ctn_msg_sp").removeClass('direct-chat-danger');
                        $("#ctn_msg_sp").removeClass('direct-chat-success');
                        $("#ctn_msg_sp").addClass('direct-chat-danger');
                        $("#lbl_msg_sp").html(data.msg);
                        $("#ctn_msg_sp").css('display', 'block');
                    }
                },
                error: function () {
                    //Cerrar Procesando
                    close_loading();
                    //Mostrar mensaje de excepcion ajax
                    $("#ctn_msg_sp").removeClass('direct-chat-danger');
                    $("#ctn_msg_sp").removeClass('direct-chat-success');
                    $("#ctn_msg_sp").addClass('direct-chat-danger');
                    $("#lbl_msg_sp").html('Ocurrio algo al momento de procesar ajax.');
                    $("#ctn_msg_sp").css('display', 'block');
                }
            });
        } else {
            //En caso de cumplir las reglas del formulario hacer un Submit naturar y muestre mensajes requeridos.
            $("#btnSubmitOculto").click();
        }
    }

</script>
