
@{
    ViewBag.Title = "SinCPM";
}
<link href="~/Content/css/noCPM.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="container-in">
        <div class="boo-wrapper">
            <div class="boo">
                <div class="face"></div>
            </div>
            <div class="shadow"></div>

            <h1>Whoops!</h1>
            <p>
                Lo sentimos
                <br />
                No cuentas cun una configuración CPM asignada
                <br />
                Favor de comunicarte con el area correspondiente para la asignacion y configuración.
            </p>
        </div>
    </div>
    
</div>
